$variable1: rgb(227, 255, 227);
body{
  background: $variable1;
  color: black;
  h1
  {
    background: purple;
    //font-style: oblique;
  }

  
}

@mixin color-invertido {
  background-color: #111;
  color: #eee;
  font-family: cursive;
}

h2 {
  font-size: 1.3em;
  padding: 15px;
  @include color-invertido;
}

@mixin callouts {
  background-color: purple;
  color: #eee;
  font-family: cursive;
}

div.callout {
  font-size: 1.3em;
  padding: 15px;
  @include callouts;
}


